<%= form_for @user, url: signin_path do |f| %>
  <div class="field">
    <%= f.label :name, "Enter your name" %> <br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password, "Enter your password" %> <br>
    <%= f.text_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Sign In" %>
  </div>
<% end %>